button {
  height: 3.6rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #222;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;

  // transition: all 0.2s ease-in-out;

  &:disabled {
    opacity: 0.4;
    cursor: initial;
  }

  &.icon {
    background-color: transparent;
    color: #222;
    width: fit-content;
    font-size: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: none;
  }

  > i {
    &:not(:first-child) {
      margin-left: 0.8rem;
    }

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  &.active {
    background-color: #222;
    color: #f1f1f1;
  }
}

a,
button.text {
  background-color: transparent;
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0;
  color: #222;
  gap: 0.4rem;
  width: fit-content;
  box-shadow: none;

  > span {
    text-decoration: underline;
  }
  > i {
    margin: 0;
  }
}
