button {
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #222;
  border: none;
  display: flex;
  width: fit-content;
  cursor: pointer;

  &.icon {
    background-color: transparent;
    color: #222;
    width: fit-content;
    padding: 1.2rem;
  }

  > i {
    &:not(:first-child) {
      margin-left: 0.6rem;
    }

    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}

a {
  display: inline-block;
  font-size: 1.6rem;
  color: #222;
}
