.modal {
  background-color: white;
  min-width: 40%;
  max-width: 64rem;
  min-height: 40%;
  max-height: 64rem;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    padding: 0.8rem 0.8rem 0.8rem 1.4rem !important;
    
    h2 {
      align-self: center;
    }
  }

  .modal__content {
    overflow-y: auto;
    flex: 1;
  }
}
