.modal {
  background-color: white;
  min-width: 40%;
  max-width: 64rem;
  min-height: 40%;
  max-height: 64rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #222;
    padding: 0.8rem 1.6rem;

    h1 {
      color: #222;
    }
  }

  .modal__content {
    overflow-y: auto;
    flex: 1;
  }
}
