@import 'resets';

:root {
  --common-color: #f1f1f1;
  --uncommon-color: #caffca;
  --rare-color: #cfe9f1;
  --unique-color: #fff4b6;
}

body,
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// Font Size
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p,
label,
input {
  font-size: 1.6rem;
  margin: 0;
}

input[type='text'],
input[type='password'] {
  padding: 0.4rem 0.8rem;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

img.coin {
  height: 1.4rem;
}

pre {
  font-size: 1.6rem;
  background-color: #f5f5f5;
  padding: 1rem;
  font-family: monospace;
  border-left: 0.4rem solid #ccc;
  overflow-x: auto;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  > input,
  label {
    cursor: pointer;
  }

  > input {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.light {
  color: #f5f5f5 !important;
}
