@import 'resets';

:root {
  // Colors
  --primary-color: #d48611;
  --text-color: #222;
  --text-color-2: #333;
  --text-color-3: #444;
  --surface-color: #f1f1f1;
  --surface-color-2: #e1e1e1;
  --surface-color-3: #d1d1d1;
  --select-color: #3251ff;

  // Shades
  --shadow: rgba(0, 0, 0, 0.4);

  // Variables
  --wallpaper: url('/assets/images/prism-light.jpg');

  // Rarities
  --common-color: #f1f1f1;
  --uncommon-color: #3fba3f;
  --rare-color: #8737bd;
  --unique-color: #df4545;

  // Non-theme Colors
  --dark: #222;
  --light: #f1f1f1;
  --dark-translucent: rgba(0, 0, 0, 0.6);
}

.dark {
  // Colors
  --primary-color: #fab44d;
  --text-color: #f1f1f1;
  --text-color-2: #e1e1e1;
  --text-color-3: #d1d1d1;
  --surface-color: #222;
  --surface-color-2: #333;
  --surface-color-3: #444;
  --select-color: #3251ff;

  // Shades
  --shadow: rgba(255, 255, 255, 0.4);

  // Variables
  --wallpaper: url('/assets/images/prism-dark.jpg');
}

body {
  background-color: var(--dark);
}

body,
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// Font Size
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

// Font Color
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
  color: var(--text-color);
}

p,
label,
input {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  label {
    display: block;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--surface-color-3);
  background-color: transparent;
  color: var(--text-color);

  + i {
    color: var(--text-color);
  }

  &:focus {
    outline: none;
  }
}

img.coin {
  height: 1.4rem;
}

pre {
  font-size: 1.2rem;
  background-color: var(--surface-color);
  padding: 1rem;
  font-family: monospace;
  overflow-x: auto;
}

.spread {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .badge {
    margin-top: 0.4rem;
  }
}

.checkbox-group {
  display: flex;
  align-items: top;
  gap: 0.8rem;
  user-select: none;

  > input,
  label {
    cursor: pointer;
  }

  > input {
    margin-top: 0.2rem;
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    min-height: 1.6rem;
  }
}

.flex {
  display: flex;
  gap: 0.8rem;
}

.wrap {
  flex-wrap: wrap;
}

header.page-header {
  z-index: 1;
  background-color: var(--surface-color);
  box-shadow: 0 0 1.2rem 0rem rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--shadow);
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

*:disabled {
  opacity: 0.4;
  pointer-events: none;
}
